@import "tailwindcss";

.restrictWidthScreen {
  @apply px-8 sm:px-12 sm:max-w-screen-lg 3xl:max-w-screen-xl 4xl:max-w-screen-2xl m-auto;
}

.baseLayout {
  @apply w-full flex flex-col items-center justify-center font-azeret mx-auto;
}

.header {
  @apply bg-local;

  background-image: url("/img/starbreak.png");
}

.text-shadow {
  text-shadow: 2px 2px 0.01px black;
}

.text-shadow-purple {
  text-shadow: 1px 1px 0.1px #4842c2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fade-in-first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-first {
  animation: fade-in-first 0.5s ease-in-out forwards;
}

.animate-fade-in-second {
  animation: fade-in-second 1.5s ease-in-out forwards;
}

@font-face {
  font-family: "AzeretMono";
  src: url("../../public/fonts/AzeretMono-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AzeretMono-Italic";
  src: url("../../public/fonts/AzeretMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nippo";
  src: url("../../public/fonts/Nippo-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Telma";
  src: url("../../public/fonts/Telma-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sanchez: "Sanchez", "sans-serrif";
  --font-inter: "Inter", "sans-serrif";
  --font-azeret: "AzeretMono", "sans-serrif";
  --font-azeret-italic: "AzeretMono-Italic", "sans-serrif";
  --font-nippo: "Nippo", "sans-serrif";
  --font-telma: "Telma", "sans-serrif";
}

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
}

@theme {
  --color-v1risGray: #1c1c21;
  --color-v1risDarkPurple: #17144c;
}

:root {
  --vh: 1vh;
}

@supports (-webkit-touch-callout: none) {
  .fixed {
    position: fixed;
  }

  body {
    -webkit-overflow-scrolling: touch;
  }
}

/* iOS-specific fixes */
@supports (-webkit-touch-callout: none) {
  .overflow-y-auto {
    -webkit-overflow-scrolling: touch;
  }

  /* Prevent overscroll on the body */
  body {
    overscroll-behavior-y: none;
  }
}

/* Fix 100vh issue on iOS */
@supports (-webkit-touch-callout: none) {
  .min-h-full {
    min-height: -webkit-fill-available;
  }
}
