@import "tailwindcss";

.restrictWidthScreen {
  @apply px-8 sm:px-12 sm:max-w-screen-lg 3xl:max-w-screen-xl 4xl:max-w-screen-2xl m-auto;
}

.baseLayout {
  @apply w-full flex flex-col items-center justify-center font-sanchez mx-auto;
}

.header {
  @apply bg-local;

  background-image: url("/img/starbreak.png");
}

.text-shadow {
  text-shadow: 2px 2px 0.01px black;
}

@keyframes fade-in-first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-second {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-first {
  animation: fade-in-first 0.5s ease-in-out forwards;
}

.animate-fade-in-second {
  animation: fade-in-second 1.5s ease-in-out forwards;
}

@theme {
  --font-inter: "Inter", "sans-serrif";
}

@theme {
  --font-sanchez: "Sanchez", "sans-serrif";
}

@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
}

@theme {
  --color-v1risGray: #1c1c21;
  --color-v1risDarkPurple: #17144c;
}
