---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
import { Card, CardContent } from "../components/ui/card";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <div
    class="flex items-center justify-center min-h-screen"
    style="min-height: calc(100vh - 96px)"
  >
    <section class="responsiveContainer pt-4 sm:pt-0 text-xl relative z-10">
      <Card className="bg-black/40 border-slate-500 backdrop-blur-sm">
        <CardContent className="p-8">
          <div class="flex flex-col lg:flex-row items-center gap-8">
            <div class="flex-shrink-0">
              <img
                class="rounded-full border-indigo-300 border-4 transition-opacity ease-in-out"
                width="300px"
                src="img/headshot.png"
                alt="v1ris headshot"
              />
            </div>

            <div class="flex-1 space-y-6 text-center lg:text-left">
              <div class="space-y-6 text-slate-200 leading-relaxed">
                <p>
                  Hi! When I’m not going by the name v1ris, my name is Anna Iris
                  Hill. I’m Canadian born, grew up in New England, and am
                  currently based in Hartford, Connecticut.
                </p>

                <p>
                  I wear a lot of hats, but my big ones are as a composer/music
                  producer/songwriter and violinist/vocalist. My latest solo
                  work is a story-driven pop concept album. Go to digital
                  connection linktree (maybe make a custom one thats a link on
                  my website). I also play guitar, bass, and keyboard.
                </p>

                <p>
                  Besides music, I’m a writer, and am the narrative designer of
                  the same game I’m the composer for, Rope Tool. I code as a
                  hobby and have made games in Unity and Gamemaker, and I have
                  experience implementing music in them both directly and
                  through middleware such as FMOD and Wwise.
                </p>
              </div>
            </div>
          </div>
        </CardContent>
      </Card>
    </section>
  </div>
</Layout>
