---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <div>
    <section class="restrictWidthScreen pt-4 text-xl relative z-10">
      Let’s collaborate! I’d love to write music for your project. I am also
      available for instrumental work as a violinist - you can hear a sample of
      my work here. (Go to violin demo reel) When writing for games, my rate is
      typically determined on a per-minute basis, including implementation
      through FMOD or Wwise if desired. My rate is flexible, so please feel free
      to reach out directly and we can work out the specifics! You use this
      form, or alternatively can reach me through v1risvgm@gmail.com, Bluesky,
      or Instagram. [Contact Form]
    </section>
  </div>
</Layout>
