---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Divider from '../components/design/Divider.astro';

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="">
    <div class="flex flex-col">
      <section class="pb-8">
        <div class="flex flex-col gap-4 items-center justify-center animate-fade-in-first px-96 w-full">
          <!-- <p class="text-4xl font-semibold decoration-double decoration-3 underline-offset-8 decoration-indigo-950 underline text-indigo-950">Storytelling Through Sound</p> -->
          <p class="text-4xl font-semibold text-indigo-950">Storytelling Through Sound</p>

          <p class="text-9xl w-full text-center py-40 bg-black text-gray-900">DEMO REEL</p>

          <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1565294434&color=%23a3b3ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe> -->
        </div>
      </section>

      <Divider/>

      <section class="bg-white py-8" >
        <div class="flex gap-24 animate-fade-in-second px-96">
          <img class="rounded-full border-indigo-950 border-4 transition-opacity ease-in-out" width="300px" src="img/headshot.png" alt="v1ris headshot"/>
          <div class="flex flex-col justify-between py-12">
            <p class="text-xl"><span class="font-semibold text-4xl text-indigo-950">v1ris</span> is a composer writing interactive music for narrative-driven games. She fuses her multi-instrumental and electronic background to write a wide variety of memorable music.</p>
            <a class="text-2xl hover:underline text-indigo-950 font-semibold" href="/contact">Let's work together!</p></a>
          </div>
        </div>
      </section>

      <Divider/>

      <section class="py-8">
        <div class="flex gap-4 flex-col px-96">
          <p class="text-4xl font-semibold text-indigo-950">New Releases</p>
          <p class="text-xl"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec nisl ac diam varius venenatis non convallis enim. Nulla quam erat, imperdiet eget magna vitae, condimentum lobortis mi. Duis dignissim pharetra dui. Vivamus gravida libero non pellentesque eleifend. Nullam sit amet interdum quam. Curabitur lacus erat, pharetra ac mi consectetur, dictum lacinia leo. Quisque eget ligula at nunc ultrices pharetra sit amet in ex. Vivamus varius fermentum suscipit. Curabitur ultrices sit amet sem sit amet elementum. Proin hendrerit venenatis sapien, eu vestibulum neque molestie congue. Nam varius volutpat ornare. Mauris nec finibus risus. Fusce accumsan ac ex nec ultrices. Vivamus vitae pretium urna, ut cursus nibh. Quisque imperdiet ut lorem tristique hendrerit. Duis quis molestie velit. Phasellus rhoncus mattis ante, eget cursus massa maximus ut. Praesent placerat ipsum nunc, quis pretium nunc consequat et. Quisque sagittis pretium fermentum. Aliquam ac ex a urna mollis finibus. Proin lobortis pellentesque dapibus. Praesent id finibus nisi, eget tincidunt sapien.
          </p>
        </div>
      </section>

      <Divider/>

      <section class="bg-white py-8" >
        <div class="flex gap-4 flex-col px-96">
          <p class="text-4xl font-semibold text-indigo-950">Testimonials</p>
          <p class="text-xl">"She makes good music" - Ashir</p>
          <p class="text-xl">"She makes good music" - Xander</p>
          <p class="text-xl">"She makes good music" - Ryan</p>
          <p class="text-xl">"She makes good music" - Tom</p>
          <p class="text-xl">"She makes good music" - Riv</p>
          <p class="text-xl">"She makes good music" - Cas</p>
        </div>
      </section>
    </div>
  </main>
</Layout>
