---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/index.css";
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from "../components/ui/card";
import { Button } from "../components/ui/button";
import { Play } from "lucide-react";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <div>
    <div class="relative z-10">
      <section class="pb-8 pt-4">
        <div
          class="responsiveContainer flex flex-col gap-4 items-center justify-center"
        >
          <p
            class="text-2xl sm:text-6xl font-semibold text-gray-900 font-nippo text-shadow-white py-4"
          >
            Storytelling Through Sound
          </p>

          <!-- <Card
            className="w-full bg-black border-slate-500 overflow-hidden backdrop-blur-sm"
          >
            <div class="aspect-video bg-black flex items-center justify-center">
              <div class="text-slate-400 text-2xl font-bold">DEMO REEL</div>
            </div>
          </Card> -->

          <!-- <iframe
            width="1200"
            height="700"
            src="https://www.youtube.com/embed/zyKxzYjomzg?si=LZZH8WBUMIkMw4q0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe> -->

          <iframe
            width="1200"
            height="700"
            src="https://www.youtube.com/embed/KINzZZeWOqw?si=O5gUmwyltRrVlegA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
      </section>

      <section class="bg-gray-900 py-8">
        <div
          class="responsiveContainer items-center lg:items-start flex flex-col lg:flex-row gap-4 lg:gap-24"
        >
          <img
            class="rounded-full border-indigo-300 border-4 transition-opacity ease-in-out"
            width="300px"
            src="img/headshot.png"
            alt="v1ris headshot"
          />

          <div
            class="flex flex-col gap-8 justify-normal lg:justify-between lg:py-12"
          >
            <p class="text-xl text-white">
              Hi, I'm <span
                class="font-semibold font-telma text-4xl text-indigo-300 text-shadow"
                >v1ris</span
              >, a composer writing interactive music for narrative-driven
              games. I use my multi-instrumental and electronic background to
              write a wide variety of memorable music.
            </p>

            <a
              class="text-2xl hover:underline text-indigo-300 font-semibold text-shadow"
              href="/contact">Let's work together!</a
            >
          </div>
        </div>
      </section>

      <section class="py-8">
        <div class="responsiveContainer flex gap-8 flex-col">
          <p
            class="text-4xl font-semibold font-nippo text-gray-900 text-shadow-white"
          >
            New Releases
          </p>

          <Card
            className="mx-auto overflow-hidden bg-black/40 border-slate-500 backdrop-blur-sm"
          >
            <div class="md:flex">
              <div class="md:w-1/2">
                <div class="relative aspect-square p-8">
                  <img
                    src="/img/voice-of-reason-single-cover.png"
                    alt="Voice of Reason artwork"
                    class="object-cover"
                  />

                  <div class="absolute inset-0"></div>
                </div>
              </div>

              <div class="md:w-1/2 px-8 flex flex-col justify-center">
                <CardHeader className="p-0 mb-6">
                  <CardTitle
                    className="text-4xl font-bold font-telma text-beige"
                    >voice of reason</CardTitle
                  >
                </CardHeader>

                <CardContent className="p-0 space-y-6">
                  <p class="text-beige">
                    a single from the forthcoming album "digital connection"
                  </p>

                  <div class="flex flex-col sm:flex-row gap-3">
                    <Button
                      className="flex items-center gap-2 bg-beige hover:bg-orange-200 text-black"
                    >
                      <Play className="w-4 h-4 font-nippo" />
                      <a href="https://links.v1ris.com/" target="_blank"
                        >Listen Now</a
                      >
                    </Button>
                  </div>
                </CardContent>
              </div>
            </div>
          </Card>
        </div>
      </section>
    </div>
  </div>
</Layout>
