---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Divider from '../components/design/Divider.astro';
import "../styles/index.css";

---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} restrictWidth={false}>
  <main class="w-full">
    <div class="flex flex-col">
      <section class="pb-8">
        <div class="restrictWidthScreen flex flex-col gap-4 items-center justify-center animate-fade-in-first">
          <p class="text-xl sm:text-4xl font-semibold text-indigo-950">Storytelling Through Sound</p>

          <p class="text-5xl sm:text-9xl w-full text-center py-40 bg-black text-gray-900">DEMO REEL</p>
        </div>
      </section>

      <Divider/>

      <section class="bg-white py-8">
        <div class="restrictWidthScreen items-center lg:items-start flex flex-col lg:flex-row gap-4 lg:gap-24 animate-fade-in-second">
          <img class="rounded-full border-indigo-950 border-4 transition-opacity ease-in-out" width="300px" src="img/headshot.png" alt="v1ris headshot"/>

          <div class="flex flex-col gap-8 lg:gap-0 lg:justify-between lg:py-12">
            <p class="text-xl">
              Hi, I'm <span class="font-semibold text-4xl text-indigo-950">v1ris</span>, a composer writing interactive music for narrative-driven games. I use my multi-instrumental and electronic background to write a wide variety of memorable music.
            </p>

            <a class="text-2xl hover:underline text-indigo-950 font-semibold" href="/contact">Let's work together!</a>
          </div>
        </div>
      </section>

      <Divider/>

      <section class="py-8">
        <div class="restrictWidthScreen flex gap-4 flex-col">
          <p class="text-4xl font-semibold text-indigo-950">New Releases</p>
          
          <p class="text-5xl sm:text-9xl w-full text-center py-40 bg-black text-gray-900">NEW RELEASES</p>
        </div>
      </section>

      <Divider/>

      <section class="bg-white py-8" >
        <div class="restrictWidthScreen flex gap-4 flex-col">
          <p class="text-4xl font-semibold text-indigo-950">Testimonials</p>

          <p class="text-4xl sm:text-8xl  w-full text-center py-40 bg-black text-gray-900">TESTIMONIALS</p>
        </div>
      </section>
    </div>
  </main>
</Layout>
