---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="px-96 text-xl">
    Like what you hear? Let’s work together! Go to Contact
  </section>
</Layout>