---
const { name, link } = Astro.props
---

<div class="bg-indigo-900 py-8 px-4 items-center flex justify-center hover:scale-105">
  <a class="text-white text-base sm:text-xl text-center" href={link} target="_blank">{name}</a>
</div>