---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/index.css";

const { title, description, image = '/favicon.ico', restrictWidth } = Astro.props;
---

<!doctype html>
<html lang="en" style={{ colorScheme: "" }} class="bg-indigo-300 text-black text-base">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<div>
			<NavBar/>

			<div class={`baseLayout ${restrictWidth ? "restrictWidthScreen" : ""}`}>
				<slot/>
			</div>
		</div>
	</body>
</html>
